body
{
overflow-x:hidden;
width:100%;
font: 15px "Lucida Console", "Courier New", monospace;
background:white;

min-height:550px;
background-attachment:fixed;
}

.bkg
{
background:url(../image/q.jpg);
height:600px;

}
.bg
{
background:url(../image/a.jpg);

}


@font-face {
   font-family: 'typo';
    src: url('../fonts/typo.ttf');
	}

@font-face {
   font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
	}

.panel{
border-color:black;
margin:40px;
padding:20px;
font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title
{
font-family:'typo';
}

.header
{
background:#e38a8a;
height:70px;
}
.header2
{
	background:#d0dbdb;
	height:70px;
}
.logo
{
font: 150% "Lucida Console", "Courier New", monospace;
color:white;
margin:35px;
}

.title1{
font: 16px "Century Gothic", "Times Roman", sans-serif;

}
.title1-right{
float:right;
}

.title2{
font-family: 'Ubuntu', sans-serif;
font-size:20px;
}


.sub1
{

width:90px;
color:#202020;
background-color:#c0bcd1;
font-size:15px;
height:35px;
margin:20px;
padding:10px;
width:100px;
}


.sub
{

width:100%;
background-color:#e38a8a;
font-size:20px;
padding:2px;
margin-top:15px;
margin-right:20px;
}
.sub:hover
{
color:white;
}

.footer
{
font-size:32px;

border-top:1px solid;
border-color:#323232;
background:#e38a8a;
}
.footer a
{

margin:15px;
color:blue;
text-decoration:none;
font: 15px "Century Gothic", "Times Roman", sans-serif;

}
.footer a:hover
{
text-decoration:none;
color:#8f8383;
border-top:2px solid;
border-color:#8f8383;

}

.box
{
padding:9px;
}
hr{
color:black;
}
.top
{
margin-top:20px;
}

.log1
{
font: 20px "Lucida Console", "Courier New", monospace;
color:#8f8383;
margin-left:10px;
}

.log
{
margin:10px;
margin-right:60px;
margin-left:5px;
color:#8f8383;
text-decoration:none;

font-size:15px;

}
.log:hover
{
color:#8f8383;
border-top:2px solid;
border-color:white;
text-decoration:none;
}

